.formulario-busqueda {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
  }
  
  .formulario-busqueda input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .formulario-busqueda button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(71, 71, 255, 0.993);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .formulario-busqueda button:hover {
    background-color: rgba(65, 55, 55, 0.8);
  }
  